body {
    color: black;
    background-image: url('../animal_crossing_fruit_pattern_by_fennellsdesign_da3ubpk-fullview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2{
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
}
p{
    text-align: justify;
    font-family: 'Century Gothic';
    font-size: 1.5em;
}
.logo {
    font-size: 200px;
    color: #f4511e;
}

.fiche{
   
    margin: unset;
    height: 900px;
}
.cadre{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    border-style: inset;
    border-color: forestgreen;

}
.cadre2 {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    border-style: inset;
    border-color: orangered;
}
.font{
    background-color: antiquewhite;
}
table{
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

td,th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #DDF0C9;
    text-align: center;
}

tr:hover {
    background-color: lightskyblue;
    text-align: center;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: black;
}
.gestion{
    color: chocolate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jumbotron {
    background-color: darkorange;
    color: #fff;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chocolate;
    text-align: center;
    font-size: x-large;
}
.titre1{
    color: ghostwhite;
    font-family: 'Century Schoolbook';
    font-size: xx-large;
}
.img{
    text-align: center;
}

h3 {
    color: forestgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
}
h4{
    text-align: center;
    font-family: 'Century Gothic';

}
p.dashed {
    border-style: dashed;
}
.alerte {
    text-align: justify;
    font-family: 'Century Gothic';
    font-size: 1.25em;
}