<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Encyclopédie des oeuvres d'art</h1>
    </div>
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class=" col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Toile célèbre La Joconde, de Léonard de Vinci.png" />
                <h4 class="card-title text-center">Toile Célèbre</h4>
                <p class="card-text text-center">Nom réel : La Joconde</p>
                <p class="card-text text-center">Peintre : Léonard De Vinci</p>
                <p class="card-text text-center">Type : Peinture</p>
                <p class="card-text text-center">Existe une fausse : elle a des sourcils dessus</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-sm-5 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/bocklin_ile_des_morts3.jpg" />
                <h4 class="card-title text-center">Toile ténébreuse</h4>
                <p class="card-text text-center">Nom réel : L'île des Morts</p>
                <p class="card-text text-center">Peintre : Arnold Böcklin</p>
                <p class="card-text text-center">Type : Peinture</p>
                <p class="card-text text-center">Pas de fausse copie</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class="col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Toile commune Des glaneuses, de Jean-François Millet.png" />
                <h4 class="card-title text-center">Toile commune</h4>
                <p class="card-text text-center">Nom réel : Des Glaneuses</p>
                <p class="card-text text-center">Peintre : Jean-François Cuillet</p>
                <p class="card-text text-center">Type : Peinture</p>
                <p class="card-text text-center">Pas de fausse copie</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/a14_r.png" />
                <h4 class="card-title text-center">Tablette édifiante</h4>
                <p class="card-text text-center">Nom réel : Pierre de Rosette</p>
                <p class="card-text text-center">Créateur : inconnu</p>
                <p class="card-text text-center">Type : statue</p>
                <p class="card-text text-center">Existe une fausse copie : la tablette en bleu</p>


            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class=" col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/a41_r.png" />
                <h4 class="card-title text-center">Statue Maternelle</h4>
                <p class="card-text text-center">Nom réel : Semeur</p>
                <p class="card-text text-center">Créateur : inconnu</p>
                <p class="card-text text-center">Type : statue</p>
                <p class="card-text text-center">Existe une fausse copie : la louve tire la langue, sur le côté</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex">
        <!-- Gallery Item 1 -->
        <div class="col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/a17_r.png" />
                <h4 class="card-title text-center">Statue Mystérieuse</h4>
                <p class="card-text text-center">Nom réel : Buste de Néfertiti</p>
                <p class="card-text text-center">Créateur : Thoutmôsis</p>
                <p class="card-text text-center">Type : statue</p>
                <p class="card-text text-center">Existe une fausse copie : elle porte une boucle d'oreille</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/a30_r.png" />
                <h4 class="card-title text-center">Toile scintillante</h4>
                <p class="card-text text-center">Nom réel : Nuit étoilé</p>
                <p class="card-text text-center">Créateur : Vincent Van Gogh</p>
                <p class="card-text text-center">Type : peinture</p>
                <p class="card-text text-center">Pas de fausse copie</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-sm-4 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/raUO_QWsqL7jFOxs0r2ZTAjW2JA.png" />
                <h4 class="card-title text-center">Toile apaisante</h4>
                <p class="card-text text-center">Nom réel : Un Dimanche après-midi à l'île Grande Jatte</p>
                <p class="card-text text-center">Peintre : Georges Seurat</p>
                <p class="card-text text-center">Type : Peinture</p>
                <p class="card-text text-center">Pas de fausse copie</p>
            </div>
        </div>
    </div>
</div>
