@{
    ViewBag.Title = "Creer page";
}

<div class="container-fluid text-center">
 
    <div class="jumbotron text-center">
        <h1>Villageois spéciaux</h1>
    </div>
    <h2 class="titre1">Villageois principaux</h2>
    <div class="row ">
        <div class="col-sm-4">
            <img src="~/tom.png" />
            <h4>TOM NOOK</h4>
            <p>
                Notre homme affaire sera présent, dès le début de notre partie. Celui-ci vous proposera différents services pour vous installer confortablement, sur votre nouvelle île paradisiaque.
                Mais... cela à un prix! Vous devrez rembourser Tom Nook avec des miles et par la suite des clochettes, l'évolution de votre maison,
                les emplacements de bâtiments, ponts, rampes, etc. . Un conseil, commencez déjà à faire des économies...
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/melo.png" />
            <h4>MELI & MELO</h4>
            <p>
                Nos deux frères jumeaux serontn également là, dès le début, dans ANCH. Ils ouvriront plus tard et amélioront par la suite, grâce à vos efforts,
                leur magasin. Ceux-ci vous vendront des outils, plans d'outils, le fruit d'origine de votre île et pleins d'autres.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/layette.png" />
            <h4>LAYETTE</h4>
            <p>
                Notre herisson adorable viendra s'installer sur votre île et y construire sa boutique "Les Soeurs Doigts de Fée", avec sa charmante cousine Cousette.
                Tous les deux vendront une large gamme de vêtements et d'accessoirs, différents chaque jour. La boutique ouvre de 10h à 21h
            </p>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Thibou-ACNH.png" />
            <h4>TIBOU</h4>
            <p>
                Notre ami conservateur viendra vivre et construire son musée, sur votre île. Apportes 5 espèces d'insectes et/ou poissons à Tom Nook!
                Tibou viendra sur votre île par la suite. Apportez lui 8 espèces de poissons et/ou insectes, afin de construire le fameux musée!
                Lorsque le musée est construit, venez lui apporter des fossiles, insectes, poissons, crustacés ou oeuvres d'art pour compléter votre lieu culturel.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/joe.png" />
            <h4>JOE</h4>
            <p>
                Notre hippie préféré séjournera sur une petite île où se trouve son studio photo.
                Viens lui rendre visite pour faire de magnifiques photos et lors du mariage de Risette et Serge (évènement mariage, en mai)
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/morris.png" />
            <h4>MORRIS</h4>
            <p>Notre réceptionniste chez Dodo Airline, vous accompagnera durant vos voyages ou pour accueillir des visiteurs, sur votre île.</p>
        </div>
    </div>
    <br><br>
    <h2 class="titre1">Les visiteurs</h2>
    <br /><br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/celeste.png" />
            <h4>CELESTE</h4>
            <p>
                Notre douce Céleste viendra nous rendre visite une fois par semaine, en fin d'après-midi.
                Cette jolie chouette admira la jolie pluie d'étoiles filantes qui fera irruption, dans notre ciel.
                Discutes avec elle et celle-ci t'offrira énorméments de plans en lien avec les étoiles, les signes du zodiaque et de nombreuses baguettes!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/sarah.png" />
            <h4>SARAH</h4>
            <p>
                Notre vendeuse ambulente nous rend visite sur Animal Crossing! Celle-ci vous vendre des tapis (prix en clochettes selon la taille du tapis), des murs et sols.
                En fonction de la taille du tapis acheté, tu obtiendras des tickets Sarah. Au bout de 5, Sarah t'offrira un sol ou mur gratuit. Attention, l'achats de mur et sol se limite à 1/jour et
                l'achat des tapis est illimité.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/djason.png" />
            <h4>DJASON</h4>
            <p>
                Notre fan d'insecte viendra, comme Pollux, rendre visite sur notre île et organiser un championnat d'insectes.
                Attrapes pleins d'insectes pour gagner assez de points et les échanger contre différents lots!
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/pollux.png" />
            <h4>POLLUX</h4>
            <p>
                Notre bon pêcheur viendra sur notre île une fois par semaine poru te proposer des brevets de pêches.
                Il viendra aussi durant certaines dates, préparer une journée de championnat de pêche. Pêches le plus possible pour
                obtenir assez de points, pour obtenir différents lots (sac, papier-peint, sol, etc.)!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/blaise.png" />
            <h4>BLAISE</h4>
            <p>
                Notre ami furet viendra nous rendre visiter une fois par semaine, avec son petit stand.
                Il te vendra des chaussures ou des sacs mais attention à ne pas lécher la marchandise.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/follet.png" />
            <h4>FOLLET</h4>
            <p>
                Ce fantôme péreux apparaitra la nuit sur votre île. Lorsque vous entamerez la conversation avec lui, celui-ci aura peur et redeviendra un petit esprit.
                Pour qu'il retrouve sa forme de fantôme, il te demande d'attraper, avec ton filet, ces 5 feux follets. Par la suite, il te récompensera en te demandent de choisir
                entre un objet cher ou que tu as déjà.
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/gulliver.png" />
            <h4>GULLIVER</h4>
            <p>
                Notre cher marin s'échouera une fois par semaine sur votre île. Vous devrez lui parler 5 fois pour le réveiller.
                Celui-ci entamera une discution avec vous et lorsqu'il devra appeler à l'aide, il se rendra compte qu'il lui manque ces circuits.
                Récuperez ces 5 circuits en cherchent dans le sable (même principe que les palourdes japonaises) et celui-ci, vous offrira le lendemain dans votre boîte aux lettres,
                un joli cadeau de voyage.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/gullivarr.png" />
            <h4>GULLIVARR</h4>
            <p>
                Notre fameux pirate fonctionne comme notre ami Gulliver mais celui-ci, perdra son Nook Phone, dans la mer. Plongez pour le récupérer et Gullivar
                vous récompensera, le lendemain dans votre boîte aux lettres, des trésors pirates!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/tiquette.png" />
            <h4>TIQUETTE</h4>
            <p>
                Anciennement Maria est la cousine de Layette et Cousette. Celle-ci vient parfois sur votre île, à la recherche de la dernière mode (seulement quand la boutique des Soeurs Doigts de Fée est construite).
                Si votre tenue lui plait, celle-ci vous donnera des tickets Maria qui seront des bons de rédution, dans boutique des Soeurs Doigts de Fée.
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/racine.png" />
            <h4>RACINE</h4>
            <p>
                Notre cher ami Racine vient nous rendre visite avec son kiosque.
                Celui-ci vous vendra des buissons et fleurs, pour décorer votre île de végétation.
                Ce n'est pas tout! Il vous rachète également vos mauvaises herbes à un prix plus avantageux que ce que Méli/Mélo vous propose.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/rounard.png" />
            <h4>ROUNARD</h4>
            <p>
                Notre grand vendeur d'art fait son apparition sur ACNH. Embarquez sur son bateau pour découvrir chaque semaine,
                de nouveaux objets d'art à acheter pour remplir votre musée. Attention, celui-ci vend également des contrefaçons. Te feras-tu piégé?
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/pascale.png" />
            <h4>PASCAL</h4>
            <p>
                Durant votre chasse aux crustacés, si vous tombez sur un ou plusieurs pétoncles, Pascale fera son apparition.
                Une fois apparu, il vous échangera une fois par jour un pétoncle contre un plan de fabrication / des vêtements de la collection « Sirène ».
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/porcelette.png" />
            <h4>PORCELETTE</h4>
            <p>
                Cette petite porcinette vient vous rendre visiter tous les samedis, vous vendre des navets.
                Suivez tous les jours, chez Méli/Mélo le cours du navet, pour vendre vos navets au meilleur prix!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/kéké.png" />
            <h4>KEKE LAGLISSE</h4>
            <p>Grande chanteur connu sur ACNH. A partir de 3 étoiles, Kéké vient vous rendre visite tous les samedis pour vous chanter ses chansons</p>
        </div>
    </div>
    <h2 class="titre1">Villageois évènementiels</h2>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/jac.png" />
            <h4>JACQU'O</h4>
            <p>
                L'esprit d'Halloween vient pointer son p'tit bout de nez le 31 octobre.
                Offrez lui des bonbons et il vous sera reconnaissant en vous offrent des plans et objets d'Halloween!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/Dindou_ACNL.png" />
            <h4>DINDOU</h4>
            <p>
                Notre petit dindon cuisinier fait son apparition, sur Animal Crossing New Horizon. Vous le verrez le 26 novembre, pour la journée du partage.
                Celui-ci préparera différents plats mais il lui manquera des ingrédients pour réaliser ces délicieux plats. Aides le en allant lui chercher les ingrédients nécessaires
                (crustacés, poissons, champignons, etc.) et il vous recompensera comme il se doit, à chaque plat que vous avez pu l'aider à réaliser!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/rodol.png" />
            <h4>RODOLPHE</h4>
            <p>
                Dans Animal Crossing, Rodolphe apparaît lors du Jour des cadeaux, soit le 24 décembre, à partir de 20h.
                Il doit être approché cinq fois pour recevoir un objet de la série Festive. Chaque réponse à sa question correspond à un cadeau différent tel que le tapis festif, le mur festif ou un meuble festif. Chaque joueur reçoit un seul cadeau mais il existe un moyen d'en obtenir plus:
                Le joueur doit changer de vêtements à chaque fois qu'il reçoit un cadeau. Il doit changer sa tenue, son chapeau ou d'autres accessoires, tout ça hors de la vue de Rodolphe pour ne pas être vu. Si le joueur réussit, Rodolphe pensera qu'il s'agit de deux personnes différentes, et le joueur n'aura besoin que de lui parler deux fois (une fois pour déterminer le cadeau, et une autre fois pour le recevoir).
                Toutefois, Rodolphe remarquera plus tard que ces deux personnes ne font qu'un mais il ne redemandera pas le meuble offert en retour et se contentera de rire.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/Albin_NH.png" />
            <h4>ALBIN</h4>
            <p>
                C'est un personnage spécial présent pour la fête des œufs qui est l'équivalent de Pâques dans la vie réelle.
                Lors de pâque, vous pourrez trouver ces oeufs dans la terre, dans les arbres, dans la mer ou dans les airs. Ces plans
                vous seront livrés dans le ciel ou par la mer. Apportez lui des oeufs et faites des échanges avec lui!
            </p>
        </div>
    </div>
</div>