<br />
<br />
<br />
<br />
<div class="bg-1">
    <div class="container">
        <h1 class="text-center">Conditions de déblocages</h1>
        <ul class="list-group text-center">
            <li class="list-group-item">Plan de la hache rudimentaire</li>
            <li class="list-group-item">Plan de l'arrosoir rudimentaire </li>
            <li class="list-group-item">Plans de la pelle rudimentaire et de la perche</li>
            <li class="list-group-item">Plan de l'échelle</li>
            <li class="list-group-item">Fabriquer de bons outils</li>
            <li class="list-group-item">Plan de la pelle en or </li>
            <li class="list-group-item">Plan de la hache en or</li>
            <li class="list-group-item">Plan de la canne à pêche en or</li>
            <li class="list-group-item">Plan du filet en or</li>
            <li class="list-group-item">Plan de l'arrosoir en or</li>
            <li class="list-group-item">Plan de lance-pierre en or</li>
            <li class="list-group-item">Tente de Thibou </li>
            <li class="list-group-item">Musée</li>
            <li class="list-group-item">Boutique Nook</li>
            <li class="list-group-item">Amélioration de la boutique Nook</li>
            <li class="list-group-item">Premier pont</li>
            <li class="list-group-item">Photopia</li>
            <li class="list-group-item">Agrandissement du bureau des résidents</li>
            <li class="list-group-item">Les Soeurs Doigts de fée</li>
            <li class="list-group-item">Application bébêtopédie</li>
            <li class="list-group-item">Application Nook Shopping</li>
            <li class="list-group-item">Echanger des miles Nook</li>
            <li class="list-group-item">Miles Nook +</li>
            <li class="list-group-item">Guide du panel d'outils</li>
            <li class="list-group-item">Savoir s'organiser</li>
            <li class="list-group-item">Guide du fourre-poches</li>
            <li class="list-group-item">Remod'île</li>
            <li class="list-group-item">La première phase de la maison</li>
            <li class="list-group-item">La deuxième phase de la maison</li>
            <li class="list-group-item">La troisième phase de la maison</li>
            <li class="list-group-item">La quatrième phase de la maison</li>
            <li class="list-group-item">La cinquième phase de la maison</li>
            <li class="list-group-item">La sixième phase de la maison</li>
            <li class="list-group-item">La septième phase de la maison</li>
            <li class="list-group-item">La huitième phase de la maison</li>
            <li class="list-group-item">Coiffures de base</li>
            <li class="list-group-item">Décoiffé</li>
            <li class="list-group-item">Le top des coiffures</li>
            <li class="list-group-item">Le top des coiffures pop</li>
            <li class="list-group-item">Les plus belles colorations</li>
        </ul>
    </div>
</div>
