<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Encyclopédie des crustacés</h1>
    </div>
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Crabe de Dungeness.png" />
                <h4 class="card-title text-center">Crabe de Dungeness</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre</p>
                <p class="card-text text-center">Prix : 8 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Crevette nordique.png" />
                <h4 class="card-title text-center">Crevette Nordique</h4>
                <p class="card-text text-center">Mois : Février, Septembre</p>
                <p class="card-text text-center">Prix : 14 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Etoile de mer.png" />
                <h4 class="card-title text-center">Etoile des Mer</h4>
                <p class="card-text text-center">Mois : chaque mois</p>
                <p class="card-text text-center">Prix : 500 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Langouste.png" />
                <h4 class="card-title text-center">Langouiste</h4>
                <p class="card-text text-center">Mois : Octobre, Décembre</p>
                <p class="card-text text-center">Prix : 5 000 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex">
        <!-- Gallery Item 5 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Pétoncle.png" />
                <h4 class="card-title text-center">Pétoncle</h4>
                <p class="card-text text-center">Mois : Chaque mois</p>
                <p class="card-text text-center">Prix : 1 200 clochettes</p>
            </div>
        </div>
    </div>
</div>
