@{
    ViewBag.Title = "Explorer";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>De nouvelles découvertes chaque jour</h1>
            <p>
                Vivez à votre rythme. Jardinez, pêchez, décorez, attrapez des insectes, déterrez des fossiles, discutez avec les animaux qui vivent sur votre île, et bien plus.
                La date, l’heure et la saison dans le jeu correspondent à la vraie vie, ce qui signifie que la vie continue sur l’île même lorsque vous n'y êtes pas!
            </p>

        </div>
        <div class="col-sm-4">
            <img src="~/meli.png" />
        </div>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    <div class="row font">
        <div class="col-sm-4">
            <img src="~/poisson.png" />
        </div>
        <div class="col-sm-8">
            <h1>Belle prise!</h1>
            <p>
                La pêche et la chasse aux insectes sont deux des activités les plus populaires sur l’île.
                Puisque le temps passe en temps réel sur votre île, vous attraperez différentes créatures selon le moment de la journée et la saison.
            </p>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Où puis-je mettre toutes les choses que je collectionne?</h1>
            <p>
                Pensez à les donner au musée! Thibou acceptera toutes les nouvelles espèces d’insectes et de poissons, et analysera même les fossiles que vous déterrez.
            </p>

        </div>
        <div class="col-sm-4">
            <img src="~/Thibou-ACNH.png" />
        </div>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    <div class="row font">
        <div class="col-sm-4">
            <img src="~/fleur.png" />
        </div>
        <div class="col-sm-8">
            <h1>Une île en fleurs</h1>
            <p>
                Rien de plus facile pour embellir votre île que de planter des fleurs.
                Arrosez votre jardin jusqu’à ce que les fleurs éclosent, puis cueillez-les ou pollinisez-les. Vous pourriez cultiver des couleurs rares!
            </p>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Récolte fruitée</h1>
            <p>
                Un fruit en particulier poussera dans les arbres de votre île, mais vous pouvez planter de nouvelles variétés d’arbres fruitiers provenant d’autres îles.
                Plantez simplement un fruit, ou déterrez une pousse et transportez-la dans votre poche jusqu’à ce que vous trouviez l'endroit idéal pour la planter.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/fruit.png" />
        </div>
    </div>
</div>
<br />
<div class="container-fluid bg-grey">
    <div class="row font">
        <div class="col-sm-4">
            <img src="~/peche.png" />
        </div>
        <div class="col-sm-8">
            <h1>Les poches pleines</h1>
            <p>
                Alors que vous explorez, remplissez vos poches d’objets que vous trouvez sur votre chemin et d’outils pratiques, tels qu’une canne à pêche, un filet, une pelle et une perche.
            </p>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Gérez vos activités quotidiennes avec votre NookPhone</h1>
            <p>
                Le NookPhone est un appareil intelligent à l’intérieur du jeu qui fait le suivi de vos buts quotidiens, des insectes et des poissons que vous avez attrapés, des plans de bricolage que vous avez reçus et des points Nook que vous avez accumulés.
                Obtenez des points Nook en participant à des activités spéciales ou simplement en effectuant des tâches routinières sur l’île.
                Vous pourrez ensuite utiliser ces points pour accéder à de nouveaux plans de bricolage, à plus d’espace dans vos poches, et bien plus!
            </p> 
            <p><a class="btn btn-default" href="https://www.animal-crossing.com/new-horizons/fr/explore/#!/nook-phone/">Nook Phone &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img src="~/NSwitch_AnimalCrossingNewHorizons_Islandlife_NookPhone_Char_Left.png" />
        </div>
    </div>
</div>
<br />