<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Fleurs hybrides</h1>
    </div>
    <img src="~/hybrides-animal-crossing-new-horizons.png" />
</div>
