<table class="table">
    <tr>
        <th>
            Carte
        </th>
        <th>
            Nom
        </th>
        <th>
            Probabilité
        </th>
        <th>
            Arbres
        </th>
        <th>
            Fleurs
        </th>
        <th>
            Insectes
        </th>
        <th>
            Poissons
        </th>
        <th>
            Limite journalière
        </th>
    </tr>

    <tr>
        <td>
            <img src="~/131931854_232694951553105_5533939991613197791_n.jpg" />
        </td>
        <td>Île normale 1</td>
        <td>9%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>

    </tr>
    <tr>
        <td>
            <img src="~/131930524_2444373779205593_8508524534667688519_n.jpg" />
        </td>
        <td>Île normale ¨2</td>
        <td>9%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>
    </tr>
    <tr>
        <td>
            <img src="~/132395193_382634423000565_484521369708754557_n.jpg" />
        </td>
        <td>Spirale</td>
        <td>9%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>

    </tr>
    <tr>
        <td><img src="~/montagne.jpg" /></td>
        <td>Île montagne</td>
        <td>9%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Cloportes, Mille-pattes</td>
        <td>Normal</td>
        <td>X</td>

    </tr>
    <tr>
        <td>
            <img src="~/131479780_758540134786488_3257025975556508257_n.jpg" />
        </td>
        <td>Île clochettes 1</td>
        <td>5%</td>
        <td>Fruit d'origine</td>
        <td>Cloportes, Mille-pattes</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>

    </tr>
    <tr>
        <td>
            <img src="~/131933796_513318089643064_7343731579260534479_n.jpg" />
        </td>
        <td>Île bambou</td>
        <td>10%</td>
        <td>Bambou</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>
    </tr>
    <tr>
        <td>
            <img src="~/131943706_909499986454135_912709346688161409_n.jpg" />
        </td>
        <td>Île fruitée</td>
        <td>9%</td>
        <td>Fruit alternatif</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>X</td>

    </tr>
    <tr>
        <td>
            <img src="~/132344132_520516572258803_8811707966776836694_n.jpg" />
        </td>
        <td>Île clochettes 2</td>
        <td>2%</td>
        <td>Hardwood</td>
        <td>Normal</td>
        <td>Scorpion</td>
        <td>Normal</td>
        <td>1</td>

    </tr>
    <tr>
        <td>
            <img src="~/131929981_449758836024472_561787189428589077_n.jpg" />
        </td>
        <td>Île dorée/Scorpion</td>
        <td>1%</td>
        <td>Hardwood</td>
        <td>Normal</td>
        <td>Scorpion</td>
        <td>Normal</td>
        <td>1</td>

    </tr>
    <tr>
        <td>
            <img src="~/132428233_207525151020979_2612900572089119221_n (1).jpg" />
        </td>
        <td>Île aux tarentules</td>
        <td>2%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Tarentule</td>
        <td>Normal</td>
        <td>1</td>

    </tr>
    <tr>
        <td>
            <img src="~/132284747_431447188218410_7792298765678231076_n.jpg" />
        </td>
        <td>Île aux gros poissons 2</td>
        <td>2%</td>
        <td>Fruit d'origine</td>
        <td>Normal</td>
        <td>Normal</td>
        <td>Seulement des gros poissons (<=4cm)</td>
        <td>1</td>

    </tr>

</table>

