@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br />
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/animal-crossing-de-nouveaux-changements-pour-le-mois-de-novembre-grande.jpg" />
            <div class="carousel-caption">
                <h3>L'apparition de l'automne sur Animal Crossing</h3>
            </div>
        </div>

        <div class="item">
            <img src="~/banniere2.jpg" />
        </div>

        <div class="item">
            <img src="~/banniere3.jpg" />
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<div class="alert alert-success container-fluid">
<strong>Info! </strong>Mise à jour de la page d'accueil, prévu pour le mois de décembre. La page suit les mises à jour lancées par Nintendo
</div>
<br />
<br />
<div class="container-fluid row cadre">
    <div class="col-md-4 fiche">
        <h2>Quoi de neuf, en novembre? 🍂</h2>
        <p>
            Pour les joueurs qui vivent dans l'hémisphère nord, voici ce qui vous attend en novembre!
            Nintendo vous proposes de nouvelles activités, des nouveaux objets à construire et pleins d'autres découvertes!
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=557iFe8jRGk">Nouvelle mise à jour, novembre &raquo;</a></p>
        <img src="~/EPYYfIUX4AA-A1L.jpg" />
    </div>
    <div class="col-md-4 fiche">
        <h2>A la découverte de nouvelles espèces! 🦋</h2>
        <p>
            Alors que le mois de novembre vient de prendre fin, celui-ci aura été l'occasion de découvrir
            la mise à jour 1.5.0 d'Animal Crossing : New Horizon en profondeur. Alors que la saison de l'automne avance,
            vous allez pouvoir constater l'apparition de quelques nouveaux insectes, poissons et créatures marines, comme à
            chaque début de mois de votre aventure. Découvrez ce que vous pourrez ajouter dans votre bébêtopédie à partir du 1er novembre.
        </p>

        <img src="~/EUaqWzEUMAAGEnu.jpeg" />
    </div>
    <div class="col-md-4 fiche">
        <h2>Les champignons 🍄</h2>
        <p>
            Ramassez des champignons près des sources d'eau et des arbres, durant tout le mois de novembre!
            Utilisez-les pour bricoler de nouveaux objets!
            Cherchez bien... et vous trouverez peut-être des champignons rares!
        </p>
        <img src="~/1604314553-5019-card.jpg" /> <br /><br />
        <p><a class="btn btn-default" href="https://www.margxt.fr/liste-des-plans-champignons-dans-animal-crossing-new-horizons/">Champignons et plans &raquo;</a></p>
        Découvrez les différentes variétés de champignons qui se trouveront sur votre île!
    </div>
</div>
<br />
<div class="row cadre">
    <div class="col-md-4 fiche">
        <h2>Les feuilles d'érables 🍁</h2>
        <img src="~/1430919-acnh-erable-article_image_bd-1.png" />
        <p>
            Attrapez des feuilles d'érables au vol...
            et découvrez ce qu'il est possible de bricoler avec!
            L'apparation des feuilles arrivera du 16 au 25 novembre, pour l'hémisphère nord et du 16 au 25 mai, pour l'hémisphère sud.
            Attrapez celles-ci avec votre filet
        </p>
    </div>
    <div class="col-md-4 fiche">
        <h2>La saison automnale 🌾</h2>
        <p>
            Profitez des belles couleurs de l'automne!
        </p>
        <img src="~/acnovembre3-960x540.png" />
    </div>
    <div class="col-md-4 fiche">
        <h2>Laissez goût à votre imagination 💭</h2>
        <p>
            Durant le mois de novembre, vous aurez l'occasion d'obtenir de nouveaux plans de bricolage.
            Amusez vous à construire de nouveaux meubles et décorez votre île, dans le ton automnale!
            <img src="~/Champignons-dans-Animal-Crossing-New-Horizons-678x370.jpg" />
            Ramassez des champignons, attrapez des feuilles d'érables ou secouez les arbres pour les glands et pommes de pins,
            pour obtenir différentes ressources pour fabriquer vos meubles!

        </p>

    </div>
</div>
