<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Encyclopédie des insectes</h1>
    </div>
   
    <div class="row d-inline-flex">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre ">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Abeille naine.png" />
                <h4 class="card-title text-center">Abeille naine</h4>
                <p class="card-text text-center">Mois : Mars, avril, mai, juin, juillet</p>
                <p class="card-text text-center">Prix : 200 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Acrida cinerea.png" />
                <h4 class="card-title text-center">Acrida cinerea</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre</p>
                <p class="card-text text-center">Prix : 200 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Agrias.png" />
                <h4 class="card-title text-center">Agrias</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 3 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4 -->
        <div class="col-6 col-sm-4 col-md-3 p-2  cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Cordulégastre.png" />
                <h4 class="card-title text-center">Anax napolitain</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre, Octobre</p>
                <p class="card-text text-center">Prix : 230 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Araignée.png" />
                <h4 class="card-title text-center">Araignée</h4>
                <p class="card-text text-center">Mois : Chaque mois</p>
                <p class="card-text text-center">Prix : 600 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Attacus Atlas.png" />
                <h4 class="card-title text-center">Attacus Atlas</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 3 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Bernard-l'ermite.png" />
                <h4 class="card-title text-center">Bernard-l'ermite</h4>
                <p class="card-text text-center">Mois : Chaque mois</p>
                <p class="card-text text-center">Prix : 1 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4-->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Bousier.png" />
                <h4 class="card-title text-center">Bousier</h4>
                <p class="card-text text-center">Mois : Janvier, Février</p>
                <p class="card-text text-center">Prix : 3 000 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Coccinelle.png" />
                <h4 class="card-title text-center">Coccinnelle</h4>
                <p class="card-text text-center">Mois : Mars, Avril, Mai, Juin, Octobre</p>
                <p class="card-text text-center">Prix : 200 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Criquet.png" />
                <h4 class="card-title text-center">Criquet</h4>
                <p class="card-text text-center">Mois : Août, Septembre, Octobre, Novembre</p>
                <p class="card-text text-center">Prix : 400 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/23.jpg" />
                <h4 class="card-title text-center">Mante-Orchidée</h4>
                <p class="card-text text-center">Mois : Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre</p>
                <p class="card-text text-center">Prix : 4 500 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Punaise d'eau géante.png" />
                <h4 class="card-title text-center">Punaise d'eau géante</h4>
                <p class="card-text text-center">Mois : Avril, Mai, Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 2 000 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex ">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Scorpion.png" />
                <h4 class="card-title text-center">Scorpion</h4>
                <p class="card-text text-center">Mois : Mai, Juin, Juillet, Août, Septembre, Octobre</p>
                <p class="card-text text-center">Prix : 8 000 clochettes (12 000 clochettes chez Djason)</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Tarentule.png" />
                <h4 class="card-title text-center">Tarentule</h4>
                <p class="card-text text-center">Janvier, Février, Mars, Avril, Novembre, Décembre</p>
                <p class="card-text text-center">Prix : 8 000 clochettes (12 000 clochettes chez Djason)</p>
            </div>
        </div>
    </div>
</div>
