@{
    ViewBag.Title = "Mise à jour"; ;
}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4 cadre2">
            <h2>Mise à jour fin novembre</h2>
            <img src="~/wapper.jpg" />
            <p>A partir du 19 novembre, découvrez la nouvelle mise à jour, proposée par Nintendo!</p>
            <h3>Nouveautés</h3>
            <p>Découvrez ici, les vidéos conceernant la MAJ</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8 cadre2">
            <h2>Nouveaux événements en novembre et en décembre</h2>
            <h3>Le jour de partage -  26 novembre 2020</h3>
            <img src="~/26nov.jpg" />
            <p>
                Rencontrez Dincou, le chef cuistot!
                Rassemblez les ingrédients dont il a besoin, pour préparez de délicieux repas
                pour tous les habitants de ton île.
            </p>
            <br>
            <h3>Le jour des cadeaux - 24 décembre 2020</h3>
            <img src="~/24dec.jpg" />
            <p>
                Rodolphe est de passage!
                Distribuez des cadeaux à vos voisins.
            </p>
            <br>
            <h2>Nouveaux articles à échanger contre des miles Nook</h2>
            <h3>Mimiques sans micmacs</h3>
            <img src="~/miles.jpg" />
            <p>
                9 nouvelles mimiques à apprendre!
                (s'asseoir, Bye Bye, Photo, Snif Snif, Gymnastique, Yoga, Et voilà!, Enthousiasme, Ta-daaa!, )
            </p>
            <br>
            <h3>Et de nouvelles coupes de cheveux</h3>
            <img src="~/mimique.jpg" />
            <p>
                Faites-vous une nouvelle tête, avec les nouvelles coiffures proposées par Nintendo!
            </p>
            <br>
            <h2>De plus...</h2>
            <h3>Agrandir l'espace rangement</h3>

            <p>
                Désormais, au bureau des résidents, vous pourrez discuter avec Tom Nook pour
                demander d'agrandir l'espace de rangement. L'espace maximal de votre inventaire passera a 2 400.
            </p>
            <br>
            <h2>Ce n'est pas tout!</h2>
            <h3>Transfert de données de sauvegardes (disponible le 19/11/2020)</h3>
            <img src="~/transfer.jpg" />
            <p>
                Désormais, au bureau des résidents, vous pourrez discuter avec Tom Nook pour
                demander d'agrandir l'espace de rangement. L'espace maximal de votre inventaire passera a 2 400.
            </p>
            <br>
            <h2>Et pour la suite</h2>
            <h3>Prochaine mise à jour gratuite</h3>
            <img src="~/janvier.jpg" />
            <p>
                Cette fameuse mise à jour est prévue pour fin décembre. Restez connecté!
            </p>
        </div>
    </div>
</div>
