<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Encyclopédie des poissons</h1>
    </div>
    <div class="row d-inline-flex">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre ">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Anchois.png" />
                <h4 class="card-title text-center">Anchois</h4>
                <p class="card-text text-center">Mois : chaque mois</p>
                <p class="card-text text-center">Prix : 200 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Bar .png" />
                <h4 class="card-title text-center">Bar</h4>
                <p class="card-text text-center">Mois : chaque mois</p>
                <p class="card-text text-center">Prix : 400 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Calmar.png" />
                <h4 class="card-title text-center">Calamar</h4>
                <p class="card-text text-center">Mois : Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Décembre</p>
                <p class="card-text text-center">Prix : 500 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Grand requin blanc.png" />
                <h4 class="card-title text-center">Grand requin blanc</h4>
                <p class="card-text text-center">Mois : Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 15 000 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/15.jpg" />
                <h4 class="card-title text-center">Grenouille</h4>
                <p class="card-text text-center">Mois : Mai, Juin, Juillet, Août</p>
                <p class="card-text text-center">Prix : 120 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Lune de mer.png" />
                <h4 class="card-title text-center">Lune de mer</h4>
                <p class="card-text text-center">Mois : Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 4 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 3 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Rémora rayé.png" />
                <h4 class="card-title text-center">Rémora Rayé</h4>
                <p class="card-text text-center">Mois : Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 1 500 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 4 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Requin marteau.png" />
                <h4 class="card-title text-center">Requin Marteau</h4>
                <p class="card-text text-center">Mois : Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 8 000 clochettes</p>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-inline-flex">
        <!-- Gallery Item 1 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/72.jpg" />
                <h4 class="card-title text-center">Requin Scie</h4>
                <p class="card-text text-center">Mois : Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 12 000 clochettes</p>
            </div>
        </div>
        <!-- Gallery Item 2 -->
        <div class="col-6 col-sm-4 col-md-3 p-2 cadre">
            <div class="card h-100">
                <img class="card-img-top center-block" src="~/Requin-baleine.png" />
                <h4 class="card-title text-center">Requin Baleine</h4>
                <p class="card-text text-center">Mois : Juin, Juillet, Août, Septembre</p>
                <p class="card-text text-center">Prix : 13 000 clochettes</p>
            </div>
        </div>
    </div>
</div>
