@{
    ViewBag.Title = "Transfert des données de sauvegarde"; ;
}
<br /><br /><br />
<div class="container-fluid">
    <div class="container text-center cadre2">
        <h2>Comment procéder</h2>
        <p>
            Trois possibilités s'offrent à vous pour transférer des données de sauvegarde d'Animal Crossing: New Horizons vers une nouvelle console Nintendo.
            Veuillez lire le texte en intégralité afin de choisir celle qui vous convient.
        </p>       
    </div>
    <br />
<div class="container text-center cadre2">
    <h2>Transférer l'île entière</h2>
    <p>
        Utilisez cette fonction si vous souhaitez transférer l'intégralité de l'île ainsi que ses résidents vers une nouvelle console Nintendo Switch. L'île, la progression, les personnalisations, vos voisins animaux, le délégué insulaire et tous les autres résidents ayant été créés sur l'île seront transférés.

        Cette fonction est particulièrement utile si vous remplacez votre console Nintendo Switch par une nouvelle console et que tous les utilisateurs ayant joué à Animal Crossing: New Horizons utiliseront aussi la nouvelle console. C'est également la seule méthode pour transférer le délégué insulaire lorsque l'île n'a pas été archivée.

        Pour utiliser cette méthode, vous devez pouvoir accéder à la console source et à la console cible.
    </p>
</div>
    <br />
<div class="container text-center cadre2">
    <h2>Faire déménager un résident (transfert d'un seul joueur)</h2>
    <p>
        Utilisez cette fonction si vous souhaitez transférer un seul résident vers une nouvelle console Nintendo Switch. Le résident, sa maison et ses personnalisations seront transférés. Le délégué insulaire ne peut pas être transféré avec cette méthode.

        Cette fonction est indiquée au cas où un seul joueur souhaite continuer à jouer à Animal Crossing: New Horizons sur une autre console Nintendo Switch ou lorsque plusieurs joueurs (à l'exception du délégué insulaire) souhaitent continuer à jouer sur une nouvelle console Nintendo Switch. Le joueur (ou les joueurs, le cas échéant) sera transféré sur une île toute neuve avec de nouveaux animaux résidents, ce qui signifie que la progression de l'île d'origine et ses animaux résidents resteront sur la console Nintendo Switch source.

        Pour utiliser cette méthode, vous devez pouvoir accéder à la console source et à la console cible.
    </p>
</div>
    <br />
<div class="container text-center cadre2">
    <h2>Archivage de l'île et récupération des données</h2>
    <p>
        Utilisez la fonction d'archivage pour pouvoir récupérer les données de sauvegarde de votre île au cas où votre console Nintendo Switch serait perdue ou endommagée. Si vous avez activé la fonction d'archivage de l'île, vous pourrez restaurer la sauvegarde la plus récente de votre île avec tous ses résidents sur la console Nintendo Switch de remplacement.

        Pour pouvoir profiter de cette fonction, vous devez préalablement avoir activé l'archivage de l'île sur la console d'origine. Cependant, vous n'avez besoin d'avoir accès qu'à la nouvelle console.
    </p>
</div>
</div>
