<br /><br /><br /><br />
<div class="bg-1">
    <div class="container">
        <h1 class="text-center">Calendrier évènementiel</h1>
        <p class="text-center">Animal Crossing New Horizon<br>Dates des évènements du jeu, dans l'hémisphère Nord</p>
        <ul class="list-group">
            <li class="list-group-item">Mois novembre: saison champignon <span class="label label-danger">Terminé!</span></li>
            <li class="list-group-item">16 novembre au 28 novembre : saison feuilles d'érable <span class="label label-danger">Terminé!</span></li>
            <li class="list-group-item">1er au 25 décembre : Mois du jour des cadeaux <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">1er au 31 décembre : Solstice d'hivers <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">11 décembre au 24 février : Yétiti et saisons des flocons de neige <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">15 décembre au 6 janvier : Saison des boules de sapin <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">17 décembre au 30 mars : Floraison pousse de camélia<span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">22 décembre au 19 janvier : Fragments de Capricorne <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">24 décembre : Jour des cadeaux (Rodolphe) <span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">31 décembre 2020 au 1er janvier 2021: Nouvel An<span class="label label-warning">Maintenant</span></li>
            <li class="list-group-item">Janvier 2021 : Floraison pousse d'hibiscus<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Deuxième samedi de janvier 2021 : Tournoi de pêche <span class="badge">Prochainement</span></li>
            <li class="list-group-item">20 janvier au 18 février 2021: Fragments de Verseau <span class="badge">Prochainement</span></li>
            <li class="list-group-item">Janvier ou février 2021 (variable) : Nouvel an lunaire<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Fin janvier 2021 : Nouvelle mise à jour Nintendo<span class="badge">Prochainement</span></li>
            <li class="list-group-item">19 février au 20 mars 2021 : Fragments de Poissons<span class="badge">Prochainement</span></li>
            <li class="list-group-item">25 février au 31 mai 2021: Saison des jeunes bambous printemps<span class="badge">Prochainement</span></li>
            <li class="list-group-item">21 mars au 19 avril 2021 : Fragments de Bélier<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er avril au 10 avril 2021 : Saison des cerisiers<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er avril au 12 avril 2021 : Fêtes des oeufs (Pâques)<span class="badge">Prochainement</span></li>
            <li class="list-group-item">12 avril au 30 mai 2021 : Floraison pousse d'azalée<span class="badge">Prochainement</span></li>
            <li class="list-group-item">20 avril au 20 mai 2021 : Fragments de Taureau<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Deuxième samedi du mois d'avril : Tournoi de pêches<span class="badge">Prochainement</span></li>
            <li class="list-group-item">23 avril au 4 mai 2021 : Jour de la nature<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er mai au 7 mai 2021 : 1er mai<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er mai au 31 mai 2021 : Fête des mères<span class="badge">Prochainement</span></li>
            <li class="list-group-item">18 mai au 31 mai 2021 : Journée Internationale des Musées<span class="badge">Prochainement</span></li>
            <li class="list-group-item">31 mai 2021 au 21 juin 2021 : Fragments de Gémeaux<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er juin au 30 juin 2021 : Fête des pères<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er juin au 30 juin 2021 Saison des mariages<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er juin au 31 août 2021 : Saison du coquillage estival<span class="badge">Prochainement</span></li>
            <li class="list-group-item">2 juin au 20 juillet 2021 : Floraison pousse d'hortensia<span class="badge">Prochainement</span></li>
            <li class="list-group-item">6 juin au 6 juillet 2021 : Solstice d'été<span class="badge">Prochainement</span></li>
            <li class="list-group-item">6 juin au 6 juillet 2021 : Solstice d'hiver<span class="badge">Prochainement</span></li>
            <li class="list-group-item">6 juin au 6 juillet 2021 : Jour mondial des enfants<span class="badge">Prochainement</span></li>
            <li class="list-group-item">22 juin au 22 juillet 2021 : Fragments de Cancer<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Troisième samedi de juin 2021 : Insectosafari<span class="badge">Prochainement</span></li>
            <li class="list-group-item">1er juillet au 31 juillet 2021 : Tanabata<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Deuxième samedi de juillet 2021 : Tournoi de pêche<span class="badge">Prochainement</span></li>
            <li class="list-group-item">Troisième samedi de juillet 2021 : Insectosafari<span class="badge">Prochainement</span></li>
            <li class="list-group-item">22 juillet au 20 septembre 2021 : Floraison pousse d'hibiscus<span class="badge">Prochainement</span></li>
            <li class="list-group-item">23 juillet au 22 août 2021 : Fragments de Lion<span class="badge">Prochainement</span></li>





        </ul>
    </div>
</div>
